* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    font-size: 15px;
}

body {
    position: relative;
}

.main {
    z-index: -1;
}

.mainContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.product {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.productItem {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 45px 10px 45px;
    margin: 10px 20px 10px 20px;
    border: 1px solid #cccccc;
    transition: 0.14s;
}

.productItem:hover {
    border: 1px solid #989898;
}

.productImg {
    width: 60%;
    padding: 10px;
}

.productName {
    text-align: center;
}

.productPrice {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.productButton,
.formButton {
    width: 50%;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border: none;
    background-color: #e62d2dcc;
    border-radius: 17px;
    color: #f9f9f9;
}

.formButton {
    width: 28%;
    margin-top: 25px;
}

/* Form */

.modalWindow {
    position: absolute;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    display: none;
    justify-content: center;
    padding: 10% 0 10% 0;
    z-index: 1000;
}

.form {
    width: 500px;
    height: 340px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    border: 1px solid #afafaf5c;
    display: flex;
    /* top: 41%; */
    /* left: 29.1%; */
    background-color: white;
    /* z-index: 1; */
    /* display: none; */
}

.formTitle {
    padding-bottom: 12px;
    font-size: 20px;
}

.label {
    padding-top: 10px;
}

.labelFirst {
    padding: 0;
}

.input {
    outline: none;
}

/* Content */

.mainTitle2 {
    font-size: 45px;
    text-align: center;
    margin: 20px 10px 20px 10px;
}

.mainTitle3 {
    font-size: 30px;
    margin: 10px 5px 10px 5px;
}

.mainList {
    list-style-position: inside;
    margin-left: 30px;
    margin: 20px 0px 20px 20px;
}

.mainListUl {
    margin-left: 0;
}

.mainTextBold {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 11px;
}

.mainText {
    margin-bottom: 20px;
}

.imgBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.mainImg {
    width: 200px;
}